html {
    font-size: 20px;
}

.main {
    font-family: "Arial", "Meiryo", sans-serif;
    text-align: center;
}

.blue {
    color: skyblue;
}

.pink {
 color: rgb(255,192,203)
}

.top-title {
    font-family: "Josefin Sans", serif;
    font-size: 2rem;
    letter-spacing: 1.2em;
    border-bottom:solid 3px rgb(115,115,114);
    text-shadow: 2px 2px grey;
}

#basic P{
    font-weight: bold;
}